<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="@Url.Action("Rsd", "Home")" />
</head>

<body>
    @RenderBody()
</body>
</html>
